<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Phumla_Kamnandi_GRP_12.Properties.Settings.PhumlaKamnandiConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PhumlaKamnandi.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="Phumla_Kamnandi_GRP_12.Properties.Settings.PhumlaKamnandiConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kagom\OneDrive\Documents\PhumlaKamnandi.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Phumla_Kamnandi_GRP_12.Properties.Settings.PhumlaKamnandiDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PhumlaKamnandiDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>